@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar-content {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 300ms ease-in-out;
    z-index: -1;
}

.show-sidebar {
    z-index: 99;
    visibility: visible;
    opacity: 1;
}


.big-sidebar-container {
    background:white;
    min-height: 100vh;
    height: 100%;
    width: 250px;
    margin-left: -250px;
    transition: margin-left 0.3s ease-in-out;
  }
  .show-big-sidebar {
    margin-left: 0;
  }